:root {
	--color-primary-100: hsl(353, 83%, 65%);
	--color-primary-200: hsl(353, 83%, 60%);
	--color-primary-300: hsl(353, 83%, 55%);
	--color-primary-400: hsl(353, 83%, 50%);
	--color-primary-500: hsl(353, 83%, 45%);
	--color-primary-600: hsl(353, 83%, 40%);
	--color-primary-700: hsl(353, 83%, 35%);
	--color-primary-800: hsl(353, 83%, 30%);

	--color-primary: var(--color-primary-400);

	--color-light-100: hsl(0, 0%, 100%);
	--color-light-200: hsl(0, 0%, 95%);
	--color-light-300: hsl(0, 0%, 90%);
	--color-light-400: hsl(0, 0%, 85%);
	--color-light-500: hsl(0, 0%, 80%);
	--color-light-600: hsl(0, 0%, 75%);
	--color-light-700: hsl(0, 0%, 70%);
	--color-light-800: hsl(0, 0%, 65%);

	--color-light: var(--color-light-100);

	--color-dark-100: hsl(0, 0%, 35%);
	--color-dark-200: hsl(0, 0%, 30%);
	--color-dark-300: hsl(0, 0%, 25%);
	--color-dark-400: hsl(0, 0%, 20%);
	--color-dark-500: hsl(0, 0%, 15%);
	--color-dark-600: hsl(0, 0%, 10%);
	--color-dark-700: hsl(0, 0%, 5%);
	--color-dark-800: hsl(0, 0%, 0%);

	--color-dark: var(--color-dark-800);
}