@mixin button {
	background-color: var(--color-primary);

	font-family: 'Jetbrains Mono', sans-serif;
	color: var(--color-light);
	border-width: 4px;
	border-style: solid;

	transition: all 100ms ease-in;

	border-top-color: var(--color-primary-100);
	border-left-color: var(--color-primary-100);
	border-bottom-color: var(--color-primary-800);
	border-right-color: var(--color-primary-800);

	padding: 0.75rem 1rem;

	&:hover {
		cursor: pointer;

		border-top-color: var(--color-primary-800);
		border-left-color: var(--color-primary-800);
		border-bottom-color: var(--color-primary-100);
		border-right-color: var(--color-primary-100);
	}
}

@mixin header-text {
	.header-text {
		font-size: 1.5rem;
		color: var(--color-light);
		padding: 0.5rem;
	}
}

@mixin auth-form {
	main {
		--title-font-size: 1.5rem;
		--label-font-size: 1.5rem;
		--input-font-size: 1.25rem;

		width: clamp(28rem, 30%, 36rem);
		margin: 0 auto;
		margin-top: 4rem;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.form-control {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		input {
			all: unset;

			font-size: var(--input-font-size);
			color: var(--color-dark-400);
			border-bottom: 3px solid var(--color-dark-300);
		}

		label {
			font-size: var(--label-font-size);
		}
	}

	@include header-text();

	.header-text {
		display: inline-block;
	}

	.submit {
		@include button();

		font-size: 1rem;
	}
}
